.chessboard{
    height: 640px;
    width: 640px;
    margin: 24px;
    border: 25px solid black;
}
.black{
    float: left;
    width: 80px;
    height: 80px;
    background-color: #444;
    font-size: 50px;
    align-items: center;
    display: table-cell;
    vertical-align: middle;
}
.white{
    float: left;
    width: 80px;
    height: 80px;
    background-color: pink;
    font-size: 50px;
    align-items: center;
    display: table-cell;
    vertical-align: middle;
}